body{
    margin: 0;
}

ul {
    position: fixed;
    min-width: 1200px;
    width: 100%;
    background: #758AA8;
}

li {
    display: inline-block;
    float: left;
    line-height: 50px;
    font-family: sans-serif;
}

li a {
    min-width: 140px;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
}

li:hover a {
    background: #4C668C;
    border-bottom: 3px solid black;
}

.currentPage {
    background: #4C668C;
    border-bottom: 3px solid black;
}

li form{
    margin-left: 100px;
    float:right;
}

#searchBox{
    width: 320px;
    height: 24px;
}

#searchButton{
    vertical-align: middle;
}