@font-face {
    font-family: myAppleGothic;
    src: url(applegothic.ttf);
}
body{
    margin: 0px;
    font-size: 100%;
    font-family: myAppleGothic;
}

.content{
    padding: 50px;
}

h1 {
    text-align: center;
    letter-spacing: 8px;
    font-size: 2em;
}

h3 {
    font-size: 1.2em;
}

