@font-face {
    font-family: 'AppleGothic';
    src: url('AppleGothic.ttf') format('truetype');
}
body{
    font-family: 'AppleGothic';
        margin: 0px;
    font-size: 100%;
}

.content{
    padding: 50px;
}

h1 {
    text-align: center;
    letter-spacing: 8px;
    font-size: 2em;
}

h3 {
    font-size: 1.2em;
}

