body{
    margin: 0px;
    font-size: 100%;
    font-family: "AppleGothic";
}

.content{
    padding: 50px;
}

h1 {
    text-align: center;
    letter-spacing: 8px;
    font-size: 2em;
}

h3 {
    font-size: 1.2em;
    font-weight: 
}

